<a href="https://colab.research.google.com/github/bhanuprakash227/python-2024/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lists
lst=[11,22,'k','L',65,67,True,False]
print(lst)
lst1=[10,20,30]
lst2=[40,50,60]
lst3=lst1+lst2
print(lst3)
lst4=lst1*2
print(lst4)
lsst=[11,22,33,[44,55,66],77,88]

[11, 22, 'k', 'L', 65, 67, True, False]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30]

In [2]:
lst=[33,22,11,44,55,77,66]
print(lst)
print(len(lst))
print(min(lst))
print(max(lst))
print(sum(lst))
print(any(lst))
print(all(lst))
del lst[1]
print(lst)
l=sorted(lst)
print(l)

[33, 22, 11, 44, 55, 77, 66]
7
11
77
308
True
True
[33, 11, 44, 55, 77, 66]
[11, 33, 44, 55, 66, 77]

In [3]:
lst=[11,22,33,44,55,66,77,88,99]
lst.append(32)
print(lst)
lst1=[11,22,33,11,33,11,44,11,55,71]
print(lst1)
print(lst1.count(11))
print(lst1.index(11))
print(lst1.index(11,3))
print(lst1.index(11,1,5))

[11, 22, 33, 44, 55, 66, 77, 88, 99, 32]
[11, 22, 33, 11, 33, 11, 44, 11, 55, 71]
4
0
3
3

In [4]:
l=[11,22,11,44,11,66,11,88]
l.insert(2,'k')
print(l)
l.insert(11,'l')
print(l)
l.insert(-5,'z')
print(l)
print(l.pop())
print(l.pop(5))
print(l)
v=[44,22,11,55,33]
print(v)
v.sort()
print(v)
l.extend(v)
print(l)
print(v)
l.remove(11)
print(l)
l.remove(22)
print(l)

[11, 22, 'k', 11, 44, 11, 66, 11, 88]
[11, 22, 'k', 11, 44, 11, 66, 11, 88, 'l']
[11, 22, 'k', 11, 44, 'z', 11, 66, 11, 88, 'l']
l
z
[11, 22, 'k', 11, 44, 11, 66, 11, 88]
[44, 22, 11, 55, 33]
[11, 22, 33, 44, 55]
[11, 22, 'k', 11, 44, 11, 66, 11, 88, 11, 22, 33, 44, 55]
[11, 22, 33, 44, 55]
[22, 'k', 11, 44, 11, 66, 11, 88, 11, 22, 33, 44, 55]
['k', 11, 44, 11, 66, 11, 88, 11, 22, 33, 44, 55]

In [5]:
k=[11,22,33,44,55]
print(id(k))
v=k
print(id(v))
print(k.pop())
print(v)
a=[11,22,33,44,55]
b=a.copy()
print(id(a))
print(id(b))
print(a.pop())
print(b)

133673176004992
133673176004992
55
[11, 22, 33, 44]
133673171625280
133673155699136
55
[11, 22, 33, 44, 55]

In [6]:
lst=[1,2,3,4,5]
dbl_lst=[i**2 for i in lst]
print(dbl_lst)               #squares of elements
l=[-12,84,11,22,-3,0,-25]
p_l=[i for i in l if i>0]    #positive elements
print(p_l)

[1, 4, 9, 16, 25]
[84, 11, 22]

In [7]:
lst=[1,2,3,4,5,6,7,8,9,0]
odd_lst=[i for i in lst if i%2!=0]    #odd numbers
even_lst=[i for i in lst if i%2==0]   #even numbers
print(odd_lst)
print(even_lst)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 0]

In [11]:
lst=[]
noe=int(input("enter total number of elements: "))
for i in range(noe):
    ele=int(input("enter %d element: "%i))
    lst.append(ele)
print(lst)

enter total number of elements: 5
enter 0 element: 1
enter 1 element: 2
enter 2 element: 3
enter 3 element: 4
enter 4 element: 5
[1, 2, 3, 4, 5]

In [12]:
#read values into lists
lst=[]
ele=int(input("enter no of elements: "))
while ele!=0:
    lst.append(ele)
    ele=int(input("enter element: "))
    print("List: ",lst)

enter no of elements: 4
enter element: 2
List:  [4]
enter element: 3
List:  [4, 2]
enter element: 4
List:  [4, 2, 3]
enter element: 5
List:  [4, 2, 3, 4]
enter element: 6
List:  [4, 2, 3, 4, 5]
enter element: 0
List:  [4, 2, 3, 4, 5, 6]

In [13]:
#unique elements from the list
lst=[10,10,20,20,30,30]
u_lst=[]
for i in lst:
    if i not in u_lst:
        u_lst.append(i)
print(f"original list: {lst}")
print(f"new list: {u_lst}")

original list: [10, 10, 20, 20, 30, 30]
new list: [10, 20, 30]

In [14]:
#derving +ve and -ve numbers from list
lst=[1,2,3,4,5,-6,-7,-8,-9,0]
p_lst=[]
n_lst=[]
for i in lst:
    if i>0:
        p_lst.append(i)
    if i<0:
        n_lst.append(i)
print("Original List: ",lst)
print("positive list: ",p_lst)
print("negative list: ",n_lst)

Original List:  [1, 2, 3, 4, 5, -6, -7, -8, -9, 0]
positive list:  [1, 2, 3, 4, 5]
negative list:  [-6, -7, -8, -9]

In [16]:
#derive a number to barcode as (A.....Z as 0,1,......25)
no=int(input("enter barcode: "))  #1234567890
alp=['a','b','c','d','e','f','g','h','i','j']
bar=''
while no>0:
    dgt=no%10
    bar=alp[dgt]+bar
    no=no//10
print(bar)

enter barcode: 12345676
bcdefghg

In [17]:
nmlst=[]
acnlst=[]
trnslst=[]
ch='y'
while ch=='y':
    nm=input("Enter name: ")
    while True:
        acno=int(input("Enter A/c No: "))
        cnfrmacno=int(input("Confirm A/c No: "))
        if acno==cnfrmacno:
            break
        print("Not Matched, try Again")
    tl=int(input("Enter transfer limit: "))
    nmlst.append(nm)
    acnlst.append(acno)
    trnslst.append(tl)
    ch=input("Do u want to continue: press y/n: ")
    if ch=='y':
        continue
    break
print("Name\tA/c No\tTransfer Limit")
print('-'*30)
for i in range(len(nmlst)):
    print(nmlst[i],"\t",acnlst[i],"\t",trnslst[i])

Enter name: bhanu
Enter A/c No: 1442
Confirm A/c No: 1442
Enter transfer limit: 50000
Do u want to continue: press y/n: y
Enter name: patel
Enter A/c No: 1443
Confirm A/c No: 1443
Enter transfer limit: 55000
Do u want to continue: press y/n: n
Name	A/c No	Transfer Limit
------------------------------
bhanu 	 1442 	 50000
patel 	 1443 	 55000

In [18]:
plyrs=["kohli","rohith"]
jrsys=[18,45]
tm=list(zip(plyrs,jrsys))
print(tuple(tm))
print(list(tm))

(('kohli', 18), ('rohith', 45))
[('kohli', 18), ('rohith', 45)]